 body{
    background-color: rgb(67, 116, 104);  }   
.vip{
    text-align: center;
   border:1px solid rgba(0, 225, 255, 0.521);
   border-radius: 20px;
  border-collapse: collapse;
   border-width:10%;
    
    margin-left: 12px;
    margin: 19%;
 

    
}

.abc{
    text-align: center;
   
}